@import "../../assets/mixins.scss";

.header{
    padding: 0 96px;
    @include flex-align-justify-between();
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 99;
    ul{
        @include flex-align-justify-center();
        li{
            padding: 1.5rem 2rem;
            a{
                font-size: 1.2rem;
                color: white;
                &:hover, &.active{
                    border-bottom: 4px solid #a162e8;
                }
            }
        }
        .link__projects{
            padding-left: 0;
        }
        .icon-linkedln{
            height: 40px; 
            width: 40px; 
            background-color: white; 
            border-radius: 50%; 
            border: none;
            margin-top: 10px;
        }
    }
}
.eyes{
    margin-left: -195px;
    .eye{
        position: relative;
        width: 35px;
        height: 35px;
        display: block;
        background: white;
        margin: 0 15px;
        border-radius:50% ;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 25px;
            transform: translate(-50%, -50%);
            width: 15px;
            height: 15px;
            background: black;
            border-radius: 50%;
        }
        &:hover{
            &::before{
                height: 22px;
                width: 22px;
            }
        }
    }
    .eyelash{
        position: fixed;
        background: url("../../assets/images/lash-white.svg") no-repeat;
        height: 15px;
        width: 40px;
        top: 27px;
        margin-left: 25px;
        opacity: 0;
        transform: scale(1.5);
    }
    &:hover{
        .eyelash{
            opacity: 1;
        }
    }
}
.eyes.active{
    .eye{
        &::before{
            height: 22px;
            width: 22px;
        }
    }
    .eyelash{
        opacity: 1;
    }
}


