@import "../../assets/mixins.scss";

.header{
    position: relative;
    height: 10vh;
}
nav{
    padding: 0 96px;
    @include flex-align-justify-between();
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 99;
    ul{
        @include flex-align-justify-center();
        li{
            padding: 1.5rem 2rem;
            a{
                font-size: 1.2rem;
                color: white;
                &:hover, &.active{
                    border-bottom: 4px solid #a162e8;
                }
                @media screen and (max-width: 768px){
                    font-size: 1.5rem;
                }
            }
        }
        .icon-linkedln{
            height: 40px; 
            width: 40px; 
            background-color: white; 
            border-radius: 50%; 
            border: none;
            margin-top: 10px;
            @media screen and (max-width: 768px){
                display: none;
            }
        }
        @media screen and (max-width: 768px){
            flex-direction: column;
        }
        @media screen and (min-width: 768px){
            .link__projects{
                padding-left: 0;
            }   
        }
    }
    @media screen and (max-width: 768px){
        padding: 0;
        height: 100vh;
        justify-content: center;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -11%);
        transition: all 1s ease-out;
        &.open{
            clip-path: circle(1200px at 90% -10%);
            -webkit-clip-path: circle(1200px at 90% -11%);     
        }
    }
}
.eyes{
    margin-left: -195px;
    @media screen and (max-width: 768px){
        display: none;
    }
    .eye{
        position: relative;
        width: 35px;
        height: 35px;
        display: block;
        background: white;
        margin: 0 15px;
        border-radius:50% ;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 25px;
            transform: translate(-50%, -50%);
            width: 15px;
            height: 15px;
            background: black;
            border-radius: 50%;
        }
        &:hover{
            &::before{
                height: 22px;
                width: 22px;
            }
        }
    }
    .eyelash{
        position: fixed;
        background: url("../../assets/images/lash-white.svg") no-repeat;
        height: 15px;
        width: 40px;
        top: 27px;
        margin-left: 25px;
        opacity: 0;
        transform: scale(1.5);
    }
    &:hover{
        .eyelash{
            opacity: 1;
        }
    }
}
.eyes.active{
    .eye{
        &::before{
            height: 22px;
            width: 22px;
        }
    }
    .eyelash{
        opacity: 1;
    }
}
.hamburger{
    display: none;
    @media screen and (max-width: 768px){
        @include flex-align-justify-center();
        flex-direction: column;
        z-index: 100;
        position: fixed;
        cursor: pointer;
        right: 5%;
        top: 5%;
        transform: translate(-5%, -50%);
        background: linear-gradient(to top left, #46207e 15%, #a162e8 100%);
        border-radius: 50%;
        height: 45px;
        width: 45px;
        .line{
            width: 25px;
            height: 3px;
            background: white;
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
    }
}
 

