<app-header></app-header>
<div class="container">
    <img src="../../assets/images/saavi2.jpg" alt="saavi">
    <div class="container__text">
        <div class="heading">I'm Saavi, a Web Developer, currently working as a Software Developer for Testbook.com, a cool Ed-Tech Startup based in Mumbai, India.</div>
        <div class="subheading">
            <p>I have spent the past 1+ yeas working across different fields of web development, UI/UX, learning new technologies, and my current role as a web developer.</p>
            <p>These days my time is spent learning javascript frameworks like Angular. I also love to take up frontend mentor challenges, brushing up my skills.</p>
            <p>Out of the office, you'll find me petting all the good dogs.</p>
        </div>
    </div>
</div>
<div class="history">
    <div class="heading">A brief history</div>
    <div class="histoy-body">
        <div class="cells">
            <div class="cell">
                <div>
                    Sophia Girls' School
                    <p>Meerut</p>
                </div>
                <div>94%</div>
            </div>
            <div class="cell">
                <div>
                    Dewan Public School
                    <p>Meerut</p>
                </div>
                <div>92%</div>
            </div>
            <div class="cell">
                <div>
                    JIIT, Noida
                    <p>ECE</p>
                </div>
                <div>CGPA : 8.6</div>
            </div>
            <div class="cell">
                <div>
                    Horizon Technologies
                    <p>Web Developer Intern</p>
                </div>
                <div>June - Aug, 19</div>
            </div>
            <div class="cell">
                <div>
                    Testbook.com
                    <p>Software Developer Intern</p>
                </div>
                <div>Feb - Aug, 21</div>
            </div>
        </div>
    </div> 
</div>
<app-footer></app-footer>