.container{
    margin: 4rem;
    background: #222;
    position: relative;
    padding: 12rem 4rem 4rem;
    border-radius: 20px;
    cursor: pointer;
    p{
        text-transform: uppercase;
        font-size: 1.25rem;
        position: absolute;
        top: 60px;
        right: 60px;
        color: white;
        opacity: 0.8;
    }
    h1{
        font-size: 2rem;
        color: white;
        position: absolute;
        top: 100px;
        right: 60px;
    }
    img{
        display: block;
        border-radius: 10px;
        margin: auto;
        height: 600px;
        width: 1000px;
    }
}