@import "../../assets/mixins.scss";

.contact-form{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.contact{
   color: $white;
    &-form{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__body{
            width: 700px;
            form>div{
                width: 100%;
                position: relative;
                margin-bottom: 30px;
            }
            label{
                position: absolute;
                top: 10px;
                pointer-events: none;
                left: 0;
                transition: .5s;

            }
            input{
                padding: 10px 0;
            }
            .underline{
                position: absolute;
                bottom: 0;
                height: 2px;
                width: 100%;
                &:before{
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 100%;
                    background: red;
                    transform: scaleX(0);
                    transition: transform 0.3s ease;
                }
            }
            textarea{
                height: 80px;
                padding: 10px 0;
                margin-bottom: 20px;
            }
            input, textarea{
                width: 100%;
                outline: none;
                border: none;
                border-bottom: 2px solid white;
                background-color: black;
                color: white;
                &:focus, &:valid{
                   & ~label{
                        top: -12px;
                        left: 0;
                        color: yellow;
                        font-size: 12px;
                        font-weight: bold;
                    }
                    & ~ .underline::before{
                        transform: scaleX(1);
                    } 
                }
            }
            button{
                width: 100%;
                outline: none;
                border: none;
                cursor: pointer;
            }
        }
    }
}
#envelope{
    animation: envelope 1s ease-in-out infinite alternate;
}
@keyframes envelope{
    from{
        transform: translateY(-15px);
    }
    to{
        transform: translateY(15px);
    }
}