<div class="contact">
    <h1 class="main-heading">Interested? Lets Get in Touch!</h1>
    <p>I am looking for job oppurtunities, also open to any freelance projects. You can also contact me on  <a href="mailto:saavi.varshney@gmail.com" class="highlighted-anchor"appEyeActive>saavi.varshney@gmail.com</a></p>
    <div class="contact-body">
        <div class="contact-form">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" method="post">
                <div class="form-line">
                    <div class="form-group">
                        <input type="text" name="name" id="name" placeholder="Name" autocomplete="false" formControlName="name" [formControl]="name">
                        <div class="underline"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" id="email" placeholder="Email"  autocomplete="off" formControlName="email" [formControl]="email">
                        <div class="underline"></div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea name="message" id="message" cols="30" rows="5" placeholder="Message"  autocomplete="off" formControlName="message" [formControl]="message" maxlength="256"></textarea>
                    <div class="underline"></div>
                </div>
                <button class="button" appEyeActive [disabled]="isLoading" type="submit">Send Message</button>
                <input [formControl]="honeypot" class="hidden" type="text">
                <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
                    <span>{{responseMessage}}</span>
                </div>
            </form>
        </div>
        <div class="contact-maps">
            <div class="info">
                Saavi Varshney<br>
                <span>@</span>: saavi.varshney@gmail.com
            </div>
            <div id="mapid"></div>
        </div>
    </div>
    
</div>