@import "../../assets/mixins.scss";

.contact{
    a{
        color: $white;
        font-size: 1.25rem;
        line-height: 1.2;
        position: relative;
        transition: all 0.5s ease-in;
        &::before{
            position: absolute;
            content: '';
            height: 4px;
            width: 100%;
            background-color: $purple;
            bottom: 0;
        }
        &:hover::before{
            bottom: 5px;
            height: 7px;
        }
    }
    p{
        color: $white;
        font-size: 1.25rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    &-body{
        @include flex-align-justify-between();
        margin-top: 5rem;
        @media screen and (max-width:1400px){
            flex-direction: column;
        }
    }
    &-form{
        margin-left: 96px;
        flex: 1;
        margin-right: 3rem;
        @media screen and (max-width:1400px) and (min-width: 786px){
            padding: 2rem;
            width: 100%;
            margin: 0;
        }
        @media screen and (max-width:786px){
            padding: 1rem;
            margin: 0;
        }
        .form{
            &-line{
                display: flex;
                >div:nth-child(1){
                    margin-right: 0.75rem;
                }
            }
            &-group{
                width: 100%;
                position: relative;
                input{
                    height: 50px;
                    margin-bottom: 0.75rem;
                    padding: 10px 20px;
                    line-height: 50px;
                }
                textarea{
                    padding: 10px 20px;
                    resize: none;
                }
                input,textarea{
                    width: 100%;
                    background: $grey;
                    outline: none;
                    border: none;
                    font-size: 1.25rem;
                    color: #8d8d8d;
                    &:focus{
                        & ~ .underline::before{
                            transform: scaleX(1);
                        } 
                    }
                    &.ng-touched.ng-invalid{
                        & ~ .underline{
                            background-color: red;
                        }
                    }
                }
            }
        }
    }
    &-maps{
        flex: 1;
        position: relative;
        width: 95%;
        @media screen and (max-width: 786px){
            padding: 1rem;
        }
    }
}
#mapid { 
    height: 440px; 
    
}
.button{
    margin-top: 1rem;
    color: $purple;
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height: 50px;
    width: 40%;
    font-size: 1.25rem;
    line-height: 1.25;
    display: block;
    margin-left: auto;
    &::after,&::before{
        content: "";
        display: block;
        position: absolute;
        width: 40%;
        height: 40%;
        border: 2px solid;
        transition: all 0.6s ease;
        border-radius: 2px;
    }
    &::after{
        bottom: 0;
        right: 0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: $purple;
        border-right-color: $purple;
    }
    &::before{
        top: 0;
        left: 0;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-top-color: $purple;
        border-left-color: $purple;
    }
    &:hover{
        &::before,&::after{
            width: 100%;
            height: 100%;
        }
    }
}
.underline{
    position: absolute;
    bottom: 0.75rem;
    height: 2px;
    width: 100%;
    &::before{
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background: $purple;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
}
.info{
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: 1.5;
    color: rgba(160, 233, 255, 1);
    background-color: $black;
    z-index: 10001;
    padding: 10px;
    width: 230px;
    span{
        color: $purple;
    }
}
