@import "../../assets/mixins.scss";

/* .contact-form{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.contact{
   color: $white;
    &-form{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__body{
            width: 700px;
            form>div{
                width: 100%;
                position: relative;
                margin-bottom: 30px;
            }
            .text-area{
                height: 80px;
            }
            label{
                position: absolute;
                top: 10px;
                pointer-events: none;
                left: 0;
                transition: .5s;
            }
            input{
                padding-top: 10px;
                font-size: 1.25rem;
            }
            .underline{
                position: absolute;
                bottom: 0;
                height: 2px;
                width: 100%;
                &:before{
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 100%;
                    background: $purple;
                    transform: scaleX(0);
                    transition: transform 0.3s ease;
                }
            }
            textarea{
                height: 100%;
                padding-top: 10px;
                font-size: 1.25rem;
                &:focus, &:valid{
                    &~label{
                        top: -15px;
                    }
                }
            }
            input, textarea{
                width: 100%;
                outline: none;
                border: none;
                border-bottom: 2px solid $white;
                background-color: $black;
                color: $white;
                &:focus, &:valid{
                   & ~label{
                        top: -12px;
                        left: 0;
                        color: $purple;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                    & ~ .underline::before{
                        transform: scaleX(1);
                    } 
                }
            }
            button{
                line-height: 50px;
                height: 50px;
                text-align: center;
                width: 250px;
                cursor: pointer;
                color: $white;
                transition: all 0.5s;
                position: relative;
                background-color: $purple;
                border: none;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-color: rgba(255,255,255,0.1);
                    transition: all 0.3s;
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    opacity: 0;
                    transition: all 0.3s;
                    border: 3px solid $purple;
                    transform: scale(1.2,1.2);
                }
                &:hover{
                    &::before{
                        opacity: 0 ;
                        transform: scale(0.5,0.5);
                    }
                    &::after{
                        opacity: 1;
                        transform: scale(1,1);
                    }
                }
            }
        }
    }
}
#envelope{
    animation: envelope 1s ease-in-out infinite alternate;
}
@keyframes envelope{
    from{
        transform: translateY(-15px);
    }
    to{
        transform: translateY(15px);
    }
} */

.contact{
    h1{
        @include coloured-text();
        font-size: 4rem;
        text-align: center;
    }
    p{
        color: $white;
        font-size: 1.25rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    &-body{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-form{

    }
    &-maps{

    }
}