@import "../../../assets/mixins.scss";

.wrapper{
    background: $grey;
    position: relative;
    padding: 12rem 0 4rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    @media screen and (max-width: 1024px){
        padding: 6rem 0 0;
    }
    p{
        text-transform: uppercase;
        font-size: 1.25rem;
        position: absolute;
        top: 60px;
        right: 60px;
        color: $white;
        opacity: 0.8;
        @media screen and (max-width: 1200px){
            font-size: 1rem;
            left: 20px;
            top: 20px;
        }
    }
    h1{
        font-size: 2rem;
        color: $white;
        position: absolute;
        top: 100px;
        right: 60px;
        font-family: Bogart-med;
        @media screen and (max-width: 1200px){
            font-size: 1.5rem;
            left: 20px;
            top: 60px;
        }
    }
    .img-holder{
        position: relative;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    img{
        border-radius: 20px;
        max-height: 600px;
        max-width: 1000px;
        transition: all 0.4s ease-in-out;
        @media screen and (max-width: 1200px){
            transform: scale3d(.8,.8,.8);
            max-width: 98%;
        }
    }
    &:hover{
        transform: translateY(-10px);
        @media screen and (min-width: 1024px){
            img{
                transform: translate3d(0,-10px,0);
            }
        }
        
    }
}