<!-- <div class="wrapper" *ngFor ="let project of projects" appEyeActive (click)="openProject(project.id)">
    <p>{{project.type}}</p>
    <h1>{{project.name}}</h1>
    <div class="img-holder">
        <img [src]="project.imgSrc" alt="Portfolio">
    </div>
</div> -->

<div class="container project-container">
    <a class="project" *ngFor="let project of projects" appEyeActive [href]="project.link">
        <div class="project-header" style="background: url({{project.img}}) no-repeat; background-size: contain;"></div>
        <div class="project-body">
            <h3>{{project.heading}}</h3>
            <ul>
                <li *ngFor="let subheading of project.subheadings">{{subheading}}</li>
            </ul>     
            <a *ngIf="project.gitLink" [href]="project.gitLink" >View on Github</a>
        </div>
    </a>
</div>