@mixin flex-align-justify-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-align-justify-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flex-align-justify-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@mixin flex-justify-between{
    display: flex;
    justify-content: space-around;
}