$black: #000;
$white: #fff;
$purple: #a162e8;
$pink: #ffc4ff;

.container{
    max-width: 1400px;
    margin: auto auto 5rem;
    @media screen and (max-width: 1024px){
        margin: 2rem;
    }
}
@mixin flex-align-justify-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-align-justify-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flex-align-justify-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@mixin flex-justify-between{
    display: flex;
    justify-content: space-around;
}